:host{
  box-sizing:border-box;
  --accent:$accentColor;
  --icon-pulse-shadow-color-start:$iconPulseShadowColorStart;
  --icon-pulse-shadow-color-end:$iconPulseShadowColorEnd
}
.proof-factor-notification-box{
  -webkit-font-smoothing:antialiased!important;
  -moz-osx-font-smoothing:grayscale!important;
  position:fixed;
  z-index:999999999999;
  width:100%;
  display:none;
  font-family:Roboto,helvetica,arial,sans-serif;
  font-size:100%;
  color:#2c3e50;
  left:0
}
.proof-factor-notification-box.proof-factor-is-desktop-left{
  left:0;
  right:auto
}
.proof-factor-notification-box.proof-factor-is-desktop-right{
  right:0;
  left:auto
}
.proof-factor-notification-box.proof-factor-is-desktop-top{
  top:0;
  bottom:auto
}
.proof-factor-notification-box.proof-factor-is-desktop-bottom{
  bottom:0;
  top:auto
}
.proof-factor-notification-box.proof-factor-is-regular{
  font-family:Roboto,helvetica,arial,sans-serif!important
}
.proof-factor-notification-box.proof-factor-is-preview{
  position:absolute;
  top:50%;
  left:50%;
  bottom:auto;
  right:auto;
  -webkit-transform:scale(var(--box-scale,1)) translate(-50%,-50%);
  transform:scale(var(--box-scale,1)) translate(-50%,-50%);
  -webkit-transform-origin:0 0;
  transform-origin:0 0
}
.proof-factor-notification-box.proof-factor-is-playground-preview{
  position:fixed;
}
.proof-factor-notification{
  pointer-events:auto;
  position:relative;
  align-items:center;
  display:flex
}
.proof-factor-is-clickable .proof-factor-notification{
  cursor:pointer
}
.proof-factor-is-preview .proof-factor-notification{
  top:0;
  left:0;
  bottom:auto;
  right:auto;
  margin:0
}
.proof-factor-button-close{
  opacity:0;
  position:absolute;
  top:-10px;
  right:-10px;
  cursor:pointer;
  text-align:center;
  width:20px;
  height:20px;
  min-height:0;
  line-height:18px;
  color:#aaa;
  border-radius:50%;
  transition:.2s;
  text-decoration:none;
  padding:0;
  margin:0;
  border:1px solid rgba(144,164,174,.2);
  background:#fff;
  outline:0
}
.proof-factor-button-close:hover{
  color:var(--accent,#0095f7);
  border-color:var(--accent,#0095f7)
}
.proof-factor-icon-box{
  flex:0 0 64px;
  position:relative;
  display:flex;
  align-items:center
}
.proof-factor-icon{
  height:64px;
  width:64px;
  margin:auto auto auto 4px;
  -o-object-fit:cover;
  object-fit:cover
}
.proof-factor-is-icon-type-pulse .proof-factor-icon{
  display:block;
  width:32px;
  height:32px;
  border-radius:50%;
  background:var(--accent,#0095f7);
  box-shadow:0 0 0 var(--icon-pulse-shadow-color-start,#0095F766);
  -webkit-animation:2s infinite proof-factor-icon-pulse;
  animation:2s infinite proof-factor-icon-pulse;
  margin:auto
}
@-webkit-keyframes proof-factor-icon-pulse{
  0%{
    box-shadow:0 0 0 0 var(--icon-pulse-shadow-color-start,#0095F766)
  }
  70%{
    box-shadow:0 0 0 10px var(--icon-pulse-shadow-color-end,#0095F700)
  }
  to{
    box-shadow:0 0 0 0 var(--icon-pulse-shadow-color-end,#0095F700)
  }

}
@keyframes proof-factor-icon-pulse{
  0%{
    box-shadow:0 0 0 0 var(--icon-pulse-shadow-color-start,#0095F766)
  }
  70%{
    box-shadow:0 0 0 10px var(--icon-pulse-shadow-color-end,#0095F700)
  }
  to{
    box-shadow:0 0 0 0 var(--icon-pulse-shadow-color-end,#0095F700)
  }

}
.proof-factor-is-mask-circle .proof-factor-icon{
  border-radius:50%
}
.proof-factor-is-mask-rounded-square .proof-factor-icon{
  border-radius:10px
}
.proof-factor-body{
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:left
}
.proof-factor-details{
  display:inline-block;
  position:relative;
  border-radius:5px;
  z-index:999999999999;
  font-size:10px;
  line-height:1em;
  color:#adbcc4;
  text-decoration:none!important
}
.proof-factor-powered-icon{
  display:inline-block;
  margin:-4px 4px;
  vertical-align:middle;
  line-height:1em;
  font-size:.75rem
}
.proof-factor-powered-link{
  color:var(--accent,#0095f7);
  text-decoration:none!important;
  cursor:pointer
}
.proof-factor-powered-text{
  color:#90a4ae
}
.proof-factor-powered-proof-factor{
  color:var(--accent,#0095f7)
}
.proof-factor-notification{
  height:70px;
  width:96%;
  margin:0 auto;
  background-color:#fff;
  line-height:1em;
  box-shadow:0 0 1px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.05),0 8px 50px rgba(0,0,0,.05);
  transition:box-shadow .2s
}
.proof-factor-notification:hover{
  box-shadow:0 0 0 4px rgba(144,164,174,.2)
}
.proof-factor-notification:hover .proof-factor-button-close{
  opacity:1
}
.proof-factor-title{
  line-height:1.3em;
  font-size:small;
  font-weight:500;
  color:#000
}
.proof-factor-title-highlight{
  display:inline-block;
  vertical-align:middle;
  padding:3px;
  border-radius:3px;
  background-color:rgba(0,149,247,.05);
  color:var(--accent,#0095f7);
  font-weight:700;
  margin:0 3px 0 0
}
.proof-factor-title-text{
  display:inline-block;
  vertical-align:middle;
  font-size:14px;
  color:#666;
  font-weight:400
}
.proof-factor-text{
  line-height:17.5px;
  font-size:12px;
  color:#738c98
}
.proof-factor-details-text{
  display:inline-block;
  line-height:1em;
  color:#90a4ae;
  font-size:11px
}
@media screen and (max-width:479px){
  .proof-factor-text{
    font-size:10px;
    line-height:15px
  }
  .proof-factor-is-mobile-top{
    top:0
  }
  .proof-factor-is-mobile-bottom{
    bottom:0
  }
  .proof-factor-is-mobile-visible{
    display:block
  }
  .proof-factor-is-mobile-top .proof-factor-notification{
    border-radius:0 0 10px 10px
  }
  .proof-factor-is-mobile-bottom .proof-factor-notification{
    border-radius:10px 10px 0 0
  }

}
@media screen and (min-width:480px){
  .proof-factor-notification-box{
    display:block;
    width:auto;
    bottom:0
  }
  .proof-factor-is-shape-rounded .proof-factor-icon,.proof-factor-is-shape-rounded .proof-factor-notification{
    border-radius:50px
  }
  .proof-factor-notification{
    width:360px;
    margin:10px
  }
}
